.App {
  text-align: center;
}

.question-card{
  background-color: #C0C0C0;
  margin: 0 auto;
  padding: 16px;
  width: 80%;
  height: auto;
  border-radius: 16px;
  text-align: center;
}

.answer{
  list-style: none;
  font-size: larger;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 5px;
  justify-content: center;
  background-color: #E0E0E0;
  height:40px;
  width: 50px;
  display: flex;
  align-items: center;
  margin-left: 650px;
}

.start-button{
  background-color: lightslategray;
border-radius: 50px;
border-width: 0;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: white;
cursor: pointer;
display: inline-block;
font-family: Arial, sans-serif;
font-size: 1em;
height: 50px;
padding: 0 25px;
transition: all 200ms;
align-items: center;
display: flex;
margin: 0 auto;
}

.restart-button{
  background-color: lightslategray;
border-radius: 50px;
border-width: 0;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: white;
cursor: pointer;
display: inline-block;
font-family: Arial, sans-serif;
font-size: 1em;
height: 50px;
padding: 0 25px;
transition: all 200ms;
margin-bottom: 20px;
}

.time{
  text-align: center;
}

.result{
  text-align: center;
}

.correct-ans{
  list-style: none;
  padding: 16px;
  background-color: lightgray;
  font-size: 21px;
  width:400px;
  text-align: center;
  margin: 0 auto;
}

.selected-options{
  background-color: lightgray;
  font-size: 21px;
  width:400px;
  text-align: center;
  margin: 0 auto;
  height: 750px;
  padding: 16px;
}